@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-dots li button:before {
  color: white !important;
  opacity: 0.75 !important;
}

.slick-dots li.slick-active button:before {
    color: white !important;
    opacity: 1 !important;
  }

#clip-path {
  /* clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%, 75% 0%, 100% 25%); */
}
